body {
    background-color: #e0e0e0;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0px;
}

section {
    background-color: white;
    color: black;
    padding: 10px;
    margin:0px;
    margin-top: 8px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0px;
}