body {
    background-color: #e0e0e0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

section {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}